<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Message Boards | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Message Boards</h1>
    <p>
      I like to code and make people happy.
    </p>
  </body>
</html>