<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Message Boards | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About the Project</h1>
    <p>
	<center>
      I like to code and make people happy.
    </p>
	</center>
	<%= link_to "Back to the Boards", "/" %>
  </body>
</html>