<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p><center>
  Contact me on <a href="https://twitter.com/mccoySG">Twitter</a> or send a <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shannon@scrib.co&su=HI">random meme</a> to my work email.
</p></center>
<%= link_to "Back to the Boards", "/" %>