<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Message Boards | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>I can help.</h1>
    <p>
     Shoot:
    </p>
  </body>
</html>