<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <div class="center hero-unit">
  <h1>Welcome.</h1>

  <h2>
    This is the Home.
  </h2>

  <%= link_to "Sign up.", '#', class: "btn btn-large btn-primary" %>
</div>