<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <div class="center hero-unit">
  <h1>Welcome.</h1>

  <h2>
    Other sites are pretty noisy. Wouldn't want to lose you guys there.
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>