<h1 id="page_title"></h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th align="left">Title</th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= link_to post.title, post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Micropost', new_post_path %>
