<footer class="footer">
  <small>
    <a href="http://mennoaden.com/">Background Photo</a>
    by Menno Aden
  </small>
  <nav>
    <ul>
      <%= link_to "About",   about_path %> |
      <%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</footer>