<footer class="footer">
  <small>
    <a href="http://mennoaden.com/">Background Photo</a>
    by Menno Aden
  </small>
  <nav>
    <ul>
      <%= link_to "About",   '#' %> |
      <%= link_to "Contact", '#' %> |
      <a href="http://news.railstutorial.org/">Updates</a>
    </ul>
  </nav>
</footer>