<div class="container">
<div id = "wrapper">
<div id = "top_nav">
	<h1><%= image_tag("http://i50.tinypic.com/nlpht1.jpg", :size => '200x280') %> <br> 
		A Message Board for Friends</h1>
	</div>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Fly Home", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right", div align = "right">
          <%= link_to "Help",    'help_path' %>
          <%= link_to "Sign in", '#' %>
        </ul>
      </nav>
    </div>
  </div>
</header>